@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --fontColor: #776752
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-font-color: var(--fontColor);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-garamond: var(--font-cormorant-garamond), serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f8f4;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cormorant-garamond), serif;
}

p {
  font-family: var(--font-cormorant-garamond), serif;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

@layer utilities {
  /* Transparent track */
  .scrollbar-track-transparent::-webkit-scrollbar-track {
    background: white;
  }

  /* Colored thumb */
  .scrollbar-thumb-font::-webkit-scrollbar-thumb {
    background-color: var(--fontColor);
    border-radius: 9999px;
  }

  /* Set scrollbar width */
  .scrollbar-thin::-webkit-scrollbar {
    width: 10px;
    height: 6px;
    color: blue;
  }

  /* Firefox support */
  .scrollbar-thumb-font {
    scrollbar-color: var(--fontColor) transparent; /* thumb | track */
    scrollbar-width: thin;
  }
}